   
  @import "utilities/variables";


   body{
        background-color: $primary-color;
    }

.contenedor{ 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0,3fr;
    grid-template-rows:  0.2fr 1fr 0.2fr;
    grid-template-areas: "header header"
                          "main section"
                          "footer footer";
    .headerIndex{
        grid-area: header;
        display: flex;
        justify-content: space-around;
    .logo{
        width: 30%;
        margin: 1rem;
     }
    nav{
        ul{
            display: flex;
            column-gap: 2rem;
            font-size: 1.5rem;
            margin: 3rem;
            li{
                list-style: none;
            }
        }
    }
    }         
    .mainIndex{
        grid-area: main;
        text-align: center;
        align-self: center;
        .mainH1{
            margin-top: 1rem;
        }
        .mainP{
            font-size: 1.8rem;
        }
    }
         section {
            grid-area: section;
            display: flex;
            justify-content: center;
         .imagenSection{
                width: 60%;
                   }    
                   }
                     
      .footerIndex {
                    grid-area: footer;
                    text-align: center;
                    margin-top: 3rem;            
                  }                                       

    }
                            
                             
